{% extends "base.html" %}
{% block title %}Trade Details{% endblock %}
{% block content -%}
{% if trade.status == 'finished' -%}
<div class="panel">This trade has already been completed. You can view
    its details below, but it can't be accepted again.</div>
{%- elif trade.status == 'invalid' -%}
<div class="panel">This trade is no longer valid because its creator
    changed their flair.</div>
{%- elif you -%}
<div class="panel">You own this trade. If you wish, you can cancel it
    using the button below.</div>
{%- endif -%}
<p>
{{ reddit_userlink(trade.creator) }} {% if trade.status == 'finished' -%}
    traded
{%- else -%}
    wants to trade
{%- endif %} their flair, {{ trade.render_creator }}, for {% if trade.target -%}
    {{ reddit_userlink(trade.target) }}'s
{%- else -%}
    anyone's
{%- endif %} {{ trade.render_target }}.
</p>
{% if you -%}
<hr/>
<form action="{{ url_for('trade_delete', trade_id=trade.id) }}" method="POST">
    {{ delete_form.hidden_tag() }}
    <button class="alert" type="submit">Delete trade</button>
</form>
{%- endif -%}
{%- if ok -%}
<p>
  <strong>Just to be clear—</strong>your current flair is {{ your_flair }}. If you accept this trade, you will
  <strong>lose it forever</strong> and be given {{ trade.render_creator }} instead.
</p>
<hr/>
<form action="" method="POST">
    {{ accept_form.hidden_tag() }}
    <button type="submit">Accept trade</button>
</form>
{%- elif not you and trade.status == 'valid' -%}
<hr/>
<div class="panel">You do not meet the requirements to complete this trade.</div>
{%- endif %}
{% endblock %}
